<div class="content">
  <h1 class="title">Add channel intergration to receiver notification</h1>
  <p>Each alert contact include a name to identify the contact, and the real handler such as email, phone number, slack web hook url.</p>
</div>

<%= render 'form', receiver: @receiver %>
