<%= @incident.short_summary.html_safe %><br><br>

Service: <%= @incident.check.uri %><br>
Incident Detail: <%= @incident.url %><br>

<p>Reason: <%= @incident.reason %></p>

<% if @incident.open? %>
  <p> Noty will alert you when it is back up, or if we will alert again in 30 minutes if the incident is still ongoing.</p>
<% else %>
  <p>Good job, we are back now.</p>
<% end %>
