<section class='hero is-bold'>
<div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= render "users/shareds/tabs" %>

        Coming soon
      </div>
    </div>
  </div>
</div>
</section>
