<section class='hero is-bold'>
<div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= render "users/shareds/tabs" %>

        <hr>
        <h2 class="title">Invoices</h2>
        <div class="box">

        </div>

      </div>
    </div>
  </div>
</div>
</section>
