<% unless flash.empty? %>
  <section class='section flash-message'>
    <div class="container">
      <% flash.each do |key, value|%>
       <div class="notification notification-is-<%=key%>">
        <button href="#" class="delete">_</button>
         <%= value %>
       </div>
      <% end %>
    </div>
  </section>
<% end %>
