<footer class="footer">
<div class='container'>
  <div class="columns">
    <div class="column is-half">
      <p class="small">
      Built when Mochi is crying.<br>
      <span>© 2017 <a href="//noty.im">NotyIM</a></span><br>
      A <a href="https://yeo.space">Yeo Space</a> product.
      </p>
    </div>

    <div class="column">
      <h6>NotyIM</h6>
      <ul class="list-unstyled">
        <li><a href="/terms">Terms of Service</a></li>
        <li><a href="/feedbacks">Feedback</a></li>
      </ul>
    </div>
    <div class="column">
      <h6>Open source</h6>
      <ul class="list-unstyled">
        <li><a href="//github.com/notyim">Github</a></li>
        <li><a href="//github.com/notyim/app/issues">Issue</a></li>
      </ul>
    </div>
    <div class="column">
      <h6>Support</h6>
      <ul class="list-unstyled">
        <li><a href="/docs">Documentation</a></li>
        <li><a href="//blog.noty.im/">Blog</a></li>
        <li><a href="mailto:hello@noty.im">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
