<div class="navbar-brand">
  <a class="navbar-item is-brand logo" href="/">noty</a>

  <div class="navbar-burger burger" data-target="navbar-app">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
