<%= render 'header' %>

<section class="section">
<div class="container">
  <h1 class="title">Introduction</h1>
  <h2 class="subtitle">Welcome to the documentation of <strong>noty</strong>. noty is a monitoring system focus on simplicity, speed, accurate, and add-ons utilty to help monitor system more easily.</h2>
  <hr>

  <div class="columns">
    <div class="column is-3">

      <aside class="menu">
      <p class="menu-label">
      Check
      </p>
      <ul class="menu-list">
        <li><a class="#" href="#section-check">Create Check</a></li>
        <li><a class="#" href="#section-alert">Configure alert</a></li>

        <li>
        <a class="is-active" href="#section-status-page">Public status page</a>
        </li>
      </ul>

      <p class="menu-label">
      Team
      </p>
      <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li>
        <a href="#section-soon">Manage Your Team</a>
        <ul>
          <li><a href="#section-soon">Members</a></li>
          <li><a href="#section-soon">Plugins</a></li>
          <li><a href="#section-soon">Add a member</a></li>
        </ul>
        </li>
        <li><a>Invitations</a></li>
      </ul>
      <p class="menu-label">
      Transactions
      </p>
      <ul class="menu-list">
        <li><a class="#" href="#section-soon">Payments</a></li>
        <li><a class="#" href="#section-soon">Transfers</a></li>
        <li><a class="#" href="#section-soon">Balance</a></li>
      </ul>
      </aside>
    </div>

    <div class="column">
      <section id="section-check">
      <%= render 'docs/sections/check.html.erb' %>
      </section>

      <section id="section-alert">
      <%= render 'docs/sections/alert.html.erb' %>
      </section>

      <section id="section-status-page">
      <%= render 'docs/sections/statuspage.html.erb' %>
      </section>

      <section id="section-soon">The rest is coming soon</section>
    </div>
  </div>

</div>
</section>
