<div class="tabs is-toggle is-fullwidth is-medium">
  <ul>
    <li class=""><a>Profile</a></li>
    <li class="">
      <%= link_to 'Billing', users_show_billings_path  %>
    </li>
    <li class="">
      <%= link_to 'Api Tokens', users_api_tokens_path  %>
    </li>
    <li class="is-active">
      <%= link_to 'Authentication', 
    </li>
  </ul>
</div>
