<%= render 'partials/menu/register' %>
<%= render 'partials/menu/login' %>

<section class='hero is-medium has-text-centered'>
<div class="hero-head">
  <h2 id="pricing" class="title">Pricing</h2>
  <p>Your first month will have unlimited features. After first month, we will ask you to select a plan.</p>
  <h4 class="subtitle is-4">Sign up now, no creditcard require</h4>
</div>

<div class="container">
  <div class="columns">
    <div class="column">
      <div class="pricing pricing-1 text-center">
        <i class="icon icon--lg icon-Mustache-2"></i>
        <h6>Free</h6>
        <div class="pricing__price">
          <span class="h1">$0</span>
        </div>
        <p>Up to 2 checks</p>
        <p>Single region</p>
        <p>Unlimited alert</p>
        <p>No SMS or phone call</p>
        <a class="btn btn--primary vpe" href="#get-started">
          <span class="btn__text btn-lg btn btn-orange">SIGN UP NOW</span>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="pricing pricing-1 text-center">
        <i class="icon icon--lg icon-Mustache-3"></i>
        <h6>Premium</h6>
        <div class="pricing__price">
          <span class="pricing__dollar h5">$</span>
          <span class="h1">10</span>
        </div>
        <p>Up to 50 checks.</p>
        <p>Multiple regions.</p>
        <p>Unlimited alert</p>
        <p>100 SMS or 100 phone call.</p>
        <a class="btn btn--primary vpe" href="#get-started">
          <span class="btn__text btn-lg btn btn-orange">SIGN UP NOW</span>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="pricing pricing-1 text-center">
        <i class="icon icon--lg icon-Mustache-4"></i>
        <h6>Awesome</h6>
        <div class="pricing__price">
          <span class="pricing__dollar h5">$</span>
          <span class="h1">20</span>
        </div>
        <p>Unlimited checks.</p>
        <p>Multiple regions.</p>
        <p>Unlimited alert</p>
        <p>No hard limit on SMS or phone call.</p>
        <a class="btn btn--primary vpe" href="#get-started">
          <span class="btn__text btn-lg btn btn-orange">SIGN UP NOW</span>
        </a>
      </div>
    </div>  
  </div>

</div>
</section>

<section class='hero is-medium has-text-centered'>
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">Open source</h2>
      <h3 class="subtitle is-3">The power of NotyIM behind your firewall</h3>

      <p>
        noty is an open source software, free and always will be. You can install and configure it yourself.
        <br>We also give professional installation service. We'll install noty for you
      </p>

      <div class='hero-buttons'>
        <a href="mailto:vinh@noty.im?subject=NotyIM Installation" class="button is-primary is-large">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</section>
