<h1 class="title">About</h1>

<p>We are a mom and dad start up with a 10 month old CEO.</p>

<h1 class="title">Maylyn</h1>
<h2 class="subtitle">CCO - Chiel Cry Officer</h2>
With two years of command and control experience.
Maylyn knows how to ask people does the thing she want
at minimal effort.

<h1 class="title">Ruby</h1>
<h2 class="subtitle">CEO - Cheifl Email Office</h2>

Chance is you already know her. If you ever got an email from us,
then it's her word.

<h1 class="title">Vinh</h1>
<h2 class="subtitle">CTO - Chielf Tea Officer</h2>

Vinh consumes all tea in the "office" while working on noty.

