<section class="section">
<div class="container">

  <h1 class="title">Changelog</h1>
  <hr>

  <div class="container">
    <h1 class="title">
      2017/03/20, 23:13 - Add Telegram chatbot
    </h1>
    <div class="content">
      We have rolled this out yesterday but have to rolled back due to a bug. We now can use telegram to add check and view stat. Alert will be sent to telegram by default.
    </div>
 </div>
</div>
</section>
