<section id="contact" class="section">
<div class="container">
  <h1 class="title ">FAQ</h1>
  <hr>

  <div class="message">
    <div class="message-body">
      <h1 class="title">I have a problem. How can I reach you?</h1>
      <p>You can always send us an Email (hello[at]noty.com), a <a href="http://twitter.com/notyim">Tweet</a>. We will also soon to have a chat channel</p>
    </div>
  </div>

  <div class="message">
    <div class="message-body">
      <h1 class="title ">How long between checks?</h1>
      <p>By default, we try to run check every 15 seconds.</p>
    </div>
  </div>



  <div class="message">
    <div class="message-body">
      <h1 class="title ">Where check are run?</h1>
      <p>From 6 location: Tokyo, Paris, San Francisco, Georgia, Oregon and New Jersey</p>
    </div>
  </div>


  <div class="message">
    <div class="message-body">
      <h1 class="title ">Why does this service exist?</h1>
      <p>I created noty because I wasn't happy with other solutions on the internet. Especially SMS, Phone alert, and check for private service behind firewall. So I write my own. I also want some seamless integration with bot which will be released in next version</p>
      <p>noty is also <a href="//github.com/notyim/trinity">open source</a>! So you could self host the whole application.</p>
    </div>
  </div>


  <div class="message">
    <div class="message-body content">
      <h1 class="title">How can I support you?</h1>
      <p class="content">
        You can do different things
        <ul>
          <li>Use a subscription plan</li>
          <li>Submit a PR request</li>
        </ul>
      </p>
    </div>
  </div>



</div>
</section>
