  <section class="container content-section__condense">
      <h1>Feedback</h1>
          <p>It's important for me, that you are happy with NotyIM. If you struggle with the API, want to complain or just say "Hi", send us an email at <i>hello@noty.im</i>.</p>

              <p>We also maintain a <a href="https://twitter.com/NotyIM">Twitter Account</a>. If something urgent happens, we will tweet about it.</p>
                </section>
