<section class="section" id="feedback">
  <div class="container">
    <h1 class="title">Feedback</h1>
    <hr>
    <p>It's important for me, that you are happy with NotyIM. If you struggle with the API, want to complain or just say "Hi", send us an email at <i>hello@noty.im</i>.</p>

    <p>We also maintain a <a href="https://twitter.com/NotyIM">Twitter Account</a>. If something urgent happens, we will tweet about it.</p>
  </div>
</section>
