    <section id="contact" class="container content-section">
          <h1>Terms of Service</h1>

                <article>
                          <h2>I have a problem. How can I reach you?</h2>
                                    <p>You can always send us an Email (hello[at]noty.com) , a <a href="http://twitter.com/noty">Tweet</a> or leave your Feedback <a href="//docs.google.com/forms/d/1rSfWcUrPCf2Ony3blKh6L3dOQiIanVKU0HZ0Org4eFs/viewform?usp=send_form">here</a>.</p>

                                              <p>Due to the fact that this is just a sideproject we can't guarantee and answer in the next 5 minutes. But we try to answer questions as fast a possible.</p>
                                                    </article>

                                                          <article>
                                                                    <h2>How long between checks?</h2>
                                                                              <p>By default, we try to run check every 10 seconds on free acount. On paid level, we run check every 3s.</p>
                                                                                    </article>

                                                                                          <article>
                                                                                                    <h2>Where check are run?</h2>
                                                                                                              <p>From 3 location: Tokyo, San Francisco, and Sweeden. Those run in a state-less manner, means they receive request that they have to run a check. They do it and send back result to our main hub</p>
                                                                                                                    </article>

                                                                                                                          <article>
                                                                                                                                    <h2>Where is main hub?</h2>
                                                                                                                                              <p>Concering privacy, Noty and its data are hosted on <a href="//cloudscale.ch">CloudScale</a>, a Sweeden hosting solution.</p>
                                                                                                                                                    </article>

                                                                                                                                                          <article>
                                                                                                                                                                    <h2>Why does this service exist?</h2>
                                                                                                                                                                              <p>I created noty because I wasn't happy with other solutions on the internet. So I wrote my own public API and with the help of Laravel and other Open Source Packages noty was born.</p>
                                                                                                                                                                                        <p>noty is also <a href="//github.com/notyim/noty">Open Source</a>! So you could selfhost the whole application. You just need PHP and MySQL.</p>
                                                                                                                                                                                              </article>

                                                                                                                                                                                                    <article>
                                                                                                                                                                                                              <h2>How can I support you?</h2>
                                                                                                                                                                                                                        <p>You can do different things:</p>
                                                                                                                                                                                                                                  <ul>
                                                                                                                                                                                                                                                <li>Make a pull-request on <a href="//github.com/notyim/noty">Github</a></li>
                                                                                                                                                                                                                                                              <li>Developer? Improve the codebase or write some better test.</li>
                                                                                                                                                                                                                                                                            <li>Designer? Create a new logo or a better suitable design</li>
                                                                                                                                                                                                                                                                                          <li>Writer? Improve the copy on the site</li>
                                                                                                                                                                                                                                                                                                    </ul>
                                                                                                                                                                                                                                                                                                              <p>
                                                                                                                                                                                                                                                                                                                        And of course, using our hosted version for reliable check outside of your infrastructure :).
                                                                                                                                                                                                                                                                                                                                  </p>

                                                                                                                                                                                                                                                                                                                                        </article>

                                                                                                                                                                                                                                                                                                                                            </section>
