<p class="control">
<%= f.label :handler, 'Email', class: 'label' %>
<%= f.text_field :handler, class: 'input' %>
</p>

<p class="notification is-warning">We will send an email with a confirmation link to this email. You will need to click on that link to verify the email ownership</p>
