<p class="control">
  <%= f.label :handler, 'Phone number(international format)', class: 'label' %>
  <%= f.text_field :handler, class: 'input', placeholder: '+14081234567' %>
</p>

<p class="notification is-warning">We will call you and you need to enter a number in next step for verification</p>
