<p class="control">
  <%= f.label :handler, 'Your phone number', class: 'label' %>
  <%= f.text_field :handler, class: 'input' %>
</p>

<p class="notification is-warning">We will call you and you need to enter a number in next step for verification</p>
