<div class="field">
  <%= f.label :handler, 'Phone number(international format)', class: 'label' %>
  <p class="control">
    <%= f.text_field :handler, class: 'input', placeholder: '+14081234567' %>
  </p>
</div>

<p class="notification is-warning">We will send a number to this phone for you to verifyt</p>
