<p class="control">
  <%= f.label :handler, 'Phone number(international format)', class: 'label' %>
  <%= f.text_field :handler, class: 'input', placeholder: '+14081234567' %>
</p>

<p class="notification is-warning">We will send a number to this phone for you to verifyt</p>
