<h3 class="title">Define alert</h3>
<p>
Great job on adding your first check. Now we will define when an alert should be created
and who to receive the alert.
</p>
<hr>

<h3 class="title">Define alert condition</h3>
<p>
An alert condition is a rule agains the result of reading your check URI. Example of alert conditions:
</p>

<ul>
  <li>Alerting when you website is down</li>
  <li>Alerting when the response time is greater than 3 seconds. Mean your site is still up, it's just much slower than normal</li>
  <li>Alert when the response contains some words. Such as your website is still up, but it got error and contains an error message in the response</li>
</ul>

<p>From <a href="https://noty.im/checks">https://noty.im/checks</a>, you can click on <strong>Config</strong>
button of any check to go to config page. From there you can define alert in sections <strong>Alert Conditions
</strong>. The from is interactive and guide you want to do. You can define one ore more alert, no limitation
on number of alert condition.<br>

By default, if you don't create any alert condition, we automatically create two alerts for you:
</p>

<ul>
  <li><strong>First one</strong> is an alert when your service is down.</li>
  <li><strong>First one</strong> is an alert when your service is down.</li>

