<%= render 'form', check: @check %>

<section class="section">
  <%= render 'receiver', check: @check %>
</section>

<hr>
<%= link_to 'View check stat', @check, class: 'button' %>
<%= link_to 'Go Back', checks_path, class: 'button' %>
