<h1 class="title">Create a check</h1>

<p>
A check define what you want to monitor. We will monitor the check URI and record the performance. Once adding check, you can define alert condition
for when we should send you notification. An alert condition can be when your site is down, or slow.
</p>

<%= render 'form', check: @check %>

<%= link_to 'Back', checks_path %>
