$primary: #FF7473;
@import "bulma";

.hero .nav {
  padding: 20px 0;
}

a,
.nav-item a, .nav-item a.is-active, a.nav-item.is-active
{
  color: $primary;
}

.footer {
}

.notification-is-notice {
  @extend .is-info;
}

.notification-is-error {
  @extend .is-danger;
}
