$primary: #FF7473;

@import "bulma";

.hero .nav {
  padding: 20px 0;
}

a,
.nav-item a, .nav-item a.is-active, a.nav-item.is-active
{
  color: $primary;
}

.pricing {
  margin-top: 10px;
  background: #fff;

  &__price {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
