// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teampicker {
  &__list {
    display: block;
    position: absolute;
    right: 1em;
    top: 4em;
    z-index: 999;
  }
}
