.intro {
  padding: 50px 0;
  background: image-url('/assets/bg/intro.jpg') no-repeat bottom center scroll;
}

.intro .title,
.intro .subtitle,
.intro .subtitle strong {
  color: white;
}

.pricing {
  margin-top: 10px;
  background: #fff;

  &__price {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
