$space: 10px;

.intro {
  //background: image-url('bg/shot-home.jpg') no-repeat center 20em scroll;
}

.intro .title,
.intro .subtitle,
.intro .subtitle strong {
}

.feature {
  &__row {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.pricing {
  margin-top: $space *4;
  background: #fff;

  .title {
    margin-bottom: $space;
  }

  &__price {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
