name: Build Gaia

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x
    - uses: actions/checkout@v1
    - name: Build
      run: cd extras/gaia/cmd/server && go build
