<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <br><br>
    ---
    <p>
    noty<br>
    <a href="https://noty.im">https://noty.im</a><br>
    <a href="http://twitter.com/notyim">http://twitter.com/notyim</a>
    </p>
  </body>
</html>
